src/main/mule/test.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="99ac3b50-f54b-43e3-a12e-32af9c96c30b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testFlow" doc:id="69f8e0d3-07eb-4c4b-a862-129ab7ef1d91" >
		<http:listener doc:name="Listener" doc:id="e49c04c5-fea8-4136-bd95-edb0adf9cfc6" config-ref="HTTP_Listener_config" path="/test1"/>
		<set-payload value="#['Hello Sony']" doc:name="Set Payload" doc:id="32d4046e-9581-4df1-b447-565802d9d238" />
	</flow>
</mule>
